<?php echo phpinfo(); ?>
<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">We build reliable web connections...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted">We are based in Bournemouth and pride ourselves on offering clear concise and cogent software solutions for connecting a wide range of web technologies.</p>

                    <p class="text-muted">We work with Web Agencies across Bournemouth and the south coast providing freelance and fixed price solutions, helping agencies to respond to short term changes in demand and prepare for long term growth.</p>

                    <p class="text-muted">We also work directly with Bournemouth businesses by providing tailored solutions to help them connect with their customers, suppliers, inventory and accounting software.</p>
                </div>
            </div>
        </div>
    </section>