<header>
    <div class="container">
        <div class="connecting-text"><span class="active-text text hidden">Connecting.<span class="connecting-dots">.</span></span><span class="passive-text text hidden">Connected</span></div>
        <div class="flex-grid hidden">
            <div class="block first col-75">
                <ul class="icon-wrapper carousel auto-scroll" data-interval="5000" data-break="sm">
                    <li class="header-icon carousel-panel" data-type="companies">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="icon-text">Companies</div>
                    </li>
                    <li class="header-icon carousel-panel" data-type="customers">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-handshake fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="icon-text">Customers</div>
                    </li>
                    <li class="header-icon carousel-panel active" data-type="people">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="icon-text add-background">People</div>
                    </li>
                    <li class="header-icon carousel-panel" data-type="suppliers">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-truck-moving fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="icon-text">Suppliers</div>
                    </li>
                    <li class="header-icon carousel-panel" data-type="employees">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-id-card fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="icon-text">Employees</div>
                    </li>
                </ul>
            </div>
            <div class="block middle col-150">
                <div class="positional-wrapper">
                    <div class="logo-wrapper">
                        <img class="header-center-image" src="">
                    </div>
                </div>
            </div>
            <div class="block last col-75">
                <ul class="icon-wrapper">
                    <li class="header-icon top">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-stack-1x fa-info dynamic-icon"></i>
                        </span>
                        <div class="icon-text">Information</div>
                    </li>
                    <li class="header-icon middle">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-stack-1x fa-calendar dynamic-icon"></i>
                        </span>
                        <div class="icon-text">Events</div>
                    </li>
                    <li class="header-icon bottom">
                        <span class="fa-stack">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-stack-1x fa-share dynamic-icon"></i>
                        </span>
                        <div class="icon-text">Social Media</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


